<!doctype html>
<html lang="en">
<head>
    @{ 
        var metadata = ViewBag.SiteMetadata as SiteMetadata;
        var author = ViewBag.Author as Author;
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="alternate" type="application/rss+xml" title="@(metadata.Title ?? "Blog")" href="/rss.xml">
    <title>Lumen - @(metadata.Title ?? "Blog")</title>
    <meta name="description" content="@(metadata.Subtitle ?? "Blog about development.")">
    <meta name="author" content="@(author.Name ?? "John Doe")">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/assets/scss/init.css">
    <link rel="stylesheet" href="~/assets/fonts/fontello-771c82e0/css/fontello.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap">

    @RenderSection("Head", required: false)
</head>

<body id="@(ViewBag.PageType)">
    <div class="layout">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
