<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="alternate" type="application/rss+xml" title="Blog by John Doe" href="/rss.xml">
    <title>Lumen - @(ViewBag.Title ?? "Blog")</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="./assets/scss/init.css">
    <link rel="stylesheet" href="./assets/scss/components/Layout/Layout.module.css">

    @RenderSection("Head", required: false)


</head>

<body id="@(ViewBag.PageType)">
    <div id="">
        <div style="outline:none" tabindex="-1">
            <div class="layout">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
