@using Kentico.Kontent.Statiq.Lumen.Models.ViewModels
@model SidebarViewModel
@{
    var author = Model.Author;
}

<div class="sidebar__author">
    <a href="/">
        <img src="@author.AvatarImage.FirstOrDefault().Url"
             class="sidebar__author-photo"
             width="75"
             height="75"
             alt="@author.Name" />
    </a>

    @if (Model.IsIndex)
    {
        <h1 class="sidebar__author-title">
            <a class="sidebar__author-title-link" href="/">@author.Name</a>
        </h1>
    }
    else
    {
        <h2 class="sidebar__author-title">
            <a class="sidebar__author-title-link" href="/">@author.Name</a>
        </h2>
    }
    <p class="sidebar__author-subtitle">@author.Bio</p>
</div>